rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    // Individual player save states
    match /users_saves/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
